.dashboard {
    display: grid;
    justify-content: center;
    /* align-items: center; */
    min-height: 100vh;
    background: #fff;
}

.enable {
    opacity: 0.2;
}

.dashboard .top {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.dashboard .wrapper {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 80vw;
    height: 480px;
    background: #f7f7f7;
    /* color:#000; */
    border-radius: 10px;
    padding: 30px 40px;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #F8492D #fff;
}

/* .dashboard .main {
    display: flex;
} */

.dashboard .wrapper .input-box {
    position: relative;
    /* width: 15vw; */
    height: 50px;
    display: inline-block;
    margin: 30px 0;
    margin-right: 2rem;
}

.dashboard .input-box input {
    width: 100%;
    height: 30%;
    background: #fff;
    border: none;
    outline: none;

    border-radius: 10px;
    font-size: 16px;
    color: #000000;
    padding: 20px 45px 20px 20px;

}

.dashboard .wrapper .input-box i {
    position: absolute;
    color: #000000;
    right: 20px;
    top: 40%;
    transform: translateY(-50%);
    font-size: 20px;
}

.dashboard .wrapper .btn {
    width: 10vw;
    height: 30px;
    border-radius: 5px;
    margin-top: 35px;
    background-color: #F8492D;
    color: #fff;
    border: none;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    float: inline-end;
    cursor: pointer;
}

.dashboard .wrapper .btn i {
    margin-right: 15px;
}

.dashboard .user-image img {
    width: 50px;
    height: 50px;
    margin-top: 50px;
    margin-left: -90px;
}

.dashboard .main-text h1 {
    color: #000;
    margin-top: 50px;
    padding-left: 35px;
}

.dashboard .second-main {
    /* display: flex; */
    /* justify-content: space-around; */
    width: auto;
    /* height: 40px; */
    border-radius: 10px;
    background-color: #fff;
    padding: 0.5rem 1rem;
    color: #000;
    margin-bottom: 1rem;
    position: relative;
}

.dashboard .dropdown-menu {
    position: absolute;
    right: 0;
    width: 10vw;
    background: white;
    z-index: 9;
    padding: 0.5rem 0;
    border-radius: 10px;
    box-shadow: 5px 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    ;
}

.dashboard .dropdown-menu button {
    width: calc(100% - 2rem);
    border: none;
    background: none;
    color: black;
    /* margin: 0; */
    text-align: start;
    margin: 0 1rem;
    cursor: pointer;
}

.dashboard .dropdown-menu .pause {
    color: #F8492D;
}

.dashboard .dropdown-menu .delete {
    background-color: #F8492D;
    color: white;
    margin: 0 0 0 0.5rem;
    padding: 0 0.5rem;
    width: calc(100% - 1rem);
    border-radius: 3px;
}

.dashboard .second-main .green {
    display: inline;
    float: right;
}

.dashboard .second-main .green img {
    width: 10px;
    height: 10px;
    margin-right: 1rem;
}

.dashboard .current-client {
    font-size: 14px;
    display: inline;
}

.dashboard .second-main .dot {
    display: inline;
    float: right;
    cursor: pointer;
}